* {
    box-sizing: border-box;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #141f36;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.title {
    opacity: 0;
    position: absolute;
    top: 20px;
    z-index: 1;
    font-size: 4em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: lowercase;
}

.game-container {
    position: relative;
    margin: 0;
}

.game-container canvas {
    image-rendering: pixelated;
    width: 100%;
}