* {
    box-sizing: border-box;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #141f36;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    margin: 0;
}

.game-container canvas {
    image-rendering: pixelated;
    width: 100%;
}

.text-message {
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 20px;
    padding: 4px;
    z-index: 1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0 40px;
    text-transform: lowercase;
    color: #fff;
    border-radius: 0 10px 10px 0;
}

.text-button {
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #1a2745;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
}